<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pcs.ztqtj">

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态（IMEI） 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 开启启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 唤醒屏幕（信鸽） -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 写SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 保持屏幕常亮（雷达、云图） -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <!-- 写配置（信鸽） -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--//添加允许安装未知应用市场权限，这个权限不是动态权限，所以不用进行动态申请，否则自动更新功能失效-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- umeng -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- umeng -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 自动更新下载完成广播 -->
        <receiver android:name=".util.AutoUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>

        <!--高德KEY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1948f1486bfe2dfe527ed695bc1a5d39" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".view.activity.loading.ActivityLoading"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--气象证明-->
        <activity
            android:name=".view.activity.prove.WeatherProveActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.WeatherProveSubmitActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.SelectPictureActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.DisplayPictureActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.SelectPositionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.AgriEachActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.prove.AgriEachSubmitActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!--气象证明-->

        <!-- 风雨查询数据列表单个数据详情界面 -->
        <activity
            android:name=".view.activity.livequery.ActivityLiveQueryDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <!-- 首页 -->
        <activity
            android:name=".view.activity.ActivityMain"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <!-- 引导 -->
        <activity
            android:name=".view.activity.loading.ActivityLoadingGuide"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- 插图 -->
        <activity
            android:name=".view.activity.loading.ActivityLoadingImage"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- 实况查询  福建 -->
        <activity
            android:name=".view.activity.livequery.ActivityLiveQuery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 实况查询 全国 -->

        <!-- 实况查询-风速详情 -->
        <activity
            android:name=".view.activity.livequery.ActivityDetailWinHightLowTemp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 实况查询-风速详情 -->
        <activity
            android:name=".view.activity.web.webview.ActivityWebView"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 实况查询-雨量统计详情 -->
        <activity
            android:name=".view.activity.livequery.ActivityRainCount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- webview页面展示数据 -->
        <activity
            android:name=".view.activity.web.MyWebView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- webview页面展示数据 -->
        <activity
            android:name=".view.activity.web.WebViewWithShare"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.livequery.ActivityRainCountDetail"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 实况查询-雨量分布图 -->
        <activity
            android:name=".view.activity.livequery.RainFallImage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 使用指南 -->
        <activity
            android:name=".view.activity.set.ActivityHelpQuestion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 视频拍摄 -->
        <activity
            android:name=".view.activity.cammer.ActivityVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 设置详情页面 -->
        <activity
            android:name=".view.activity.set.AcitvityAboutZTQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 意见反馈 -->
        <activity
            android:name=".view.activity.set.AcitvityFeedBack"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 气象短信 -->
        <activity
            android:name=".view.activity.set.ActivitySms"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 实况告警推送 -->
        <!-- 自动分享 -->
        <activity
            android:name=".view.activity.set.ActivityAutoShare"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 业务说明 -->
        <activity
            android:name=".view.activity.set.ActivityCauseExplan"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 免责声明 -->
        <!-- 栏目管理 -->
        <activity
            android:name=".view.activity.set.ActivityProgramerManager"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 温馨提示推送 -->
        <!-- 气象服务推送设置界面 -->
        <!-- 其他 设置 -->
        <!-- 气象预警推送 -->

        <!-- 天气闹钟 -->
        <activity
            android:name=".view.activity.set.ActivityWeatherClock"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 天气预报推送 -->
        <!-- 推送集合 -->
        <activity
            android:name=".view.activity.set.ActivityColumnManager"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 开机启动 -->
        <receiver
            android:name=".control.receiver.BootStrapReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- 天气闹钟receiver -->
        <receiver
            android:name=".control.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- 气象产品 -->
        <activity
            android:name=".view.activity.product.traffic.ActivityTrafficWeather"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaTheme" /> <!-- 气象产品:交通气象 -->

        <activity
            android:name=".view.activity.product.traffic.ActivityTraffic"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaTheme" />

        <activity
            android:name=".view.activity.product.typhoon.ActivityTyphoon"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaTheme" /> <!-- 气象产品:台风路径 -->
        <!-- 台风警报单 -->
        <activity
            android:name=".view.activity.product.typhoon.ActivityTyphoonBillList"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaTheme" />
        <activity
            android:name=".view.activity.product.typhoon.ActivityTyphoonExample"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:台风图例 -->

        <activity
            android:name=".view.activity.product.observation.AcivityObservation"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:下垫面观测图 -->
        <activity
            android:name=".view.activity.product.observation.ActivityObservationTable"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:下垫面观测 -->

        <activity
            android:name=".view.activity.product.observation.ActivityObservationCompTable"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:下垫面观测对比 -->

        <activity
            android:name=".view.activity.product.numericalforecast.ActivityNumericalForecast"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:数值预报 -->
        <!-- 气象产品:数值预报 详情 -->
        <activity
            android:name=".view.activity.product.numericalforecast.ActivityDetailNumericalForecast"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.pcs.knowing_weather.view.activity.product.numericalforecast.ActivityDetailNumericalPro" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait"></activity> -->
        <activity
            android:name=".view.activity.product.numericalforecast.ActivityDetailCenterPro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.product.ActivityOceanWeather"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:海洋天气 -->

        <activity
            android:name=".view.activity.product.ActivitySatelliteCloudChart"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:卫星云图 -->

        <activity
            android:name=".view.activity.product.ActivityWeatherRadar"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:气象雷达 -->

        <activity
            android:name=".view.activity.product.ActivityWeatherSummary"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:天气综述 -->

        <activity
            android:name=".view.activity.product.media.ActivityMediaList"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品:气象影视 -->

        <activity
            android:name=".view.activity.product.media.ActivityMediaPlay"
            android:exported="false"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" /> <!-- 气象产品:气象影视 播放界面 -->

        <activity
            android:name=".view.activity.product.lightning.ActivityLightningMonitor"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品：雷电监测 -->
        <activity
            android:name=".view.activity.product.lightning.ActivityThunderMoreList"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品：雷电监测列表 -->

        <activity
            android:name=".view.activity.product.locationwarning.ActivityLocationWarning"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品：定点服务 -->
        <!-- <activity -->
        <!-- android:name="com.pcs.knowing_weather.view.activity.citylist.ActivityChoseCity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait"></activity> &lt;!&ndash; 气象产品：定点服务城市选择 &ndash;&gt; -->
        <activity
            android:name=".view.activity.product.locationwarning.ActivityWarningManage"
            android:exported="true"
            android:screenOrientation="portrait" /> <!-- 气象产品：我的预警-管理页 -->
        <activity
            android:name=".view.activity.product.locationwarning.ActivityWarningCustomize"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品：我的预警-定制页 -->
        <activity
            android:name=".view.activity.product.locationwarning.ActivityWarningPay"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象产品：我的预警-支付页 -->

        <!-- 气象服务 -->
        <activity
            android:name=".view.activity.help.ActivityHelp"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 气象服务:帮助 -->

        <activity
            android:name=".view.activity.help.ActivityAboutWeatherServe"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:帮助 关于天气服务 -->

        <activity
            android:name=".view.activity.help.ActivityChangePwd"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:帮助 修改密码 -->

        <activity
            android:name=".view.activity.service.AcitvityServeLogin"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:登录 -->

        <activity
            android:name=".view.activity.service.ActivitySpecialService"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:第二级 -->

        <activity
            android:name=".view.activity.service.ActivityPdfList"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:第三级 -->
        <activity
            android:name=".view.activity.service.ActivityDecisionService"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:我的服务 -->
        <!-- 气象服务:我的服务-更多列表 -->

        <activity
            android:name=".view.activity.service.ActivityServeDetails"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象服务:详细信息 -->

        <activity
            android:name=".view.activity.set.ActivityGuideDetail"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 使用指南细节 -->


        <!-- 气象服务:智慧农业 -->

        <activity
            android:name=".view.activity.citylist.ActivitySelectTravelViewList"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:选择景点 -->

        <activity
            android:name=".view.activity.life.travel.ActivityTravelView"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:旅游气象 -->
        <!-- 旅游气象:地图 -->
        <activity
            android:name=".view.activity.life.travel.ActivityTravelSubjectMap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 旅游气象:收藏夹 -->
        <activity
            android:name=".view.activity.life.travel.ActivityTravelBookmark"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 气象生活:旅游气象 -->
        <activity
            android:name=".view.activity.life.travel.ActivityTravelDetail"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:景点信息界面 -->

        <activity
            android:name=".view.activity.life.ActivityMeteorologicalScience"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:气象科普 -->
        <activity
            android:name=".view.activity.life.ActivityImageDisaster"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:识图防灾 -->

        <activity
            android:name=".view.activity.life.ActivityChannelList"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:气象科普 资讯列表 -->

        <activity
            android:name=".view.activity.life.ActivityChannelInfo"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 气象生活:气象科普 资讯内容 -->

        <!-- 气象生活:亲情城市 -->

        <!-- 选择全国城市，侧边栏进入 -->
        <!-- 日历中心 -->
        <activity
            android:name=".view.activity.calendar.ActivityCalendarSecond"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" /> <!-- 实景开拍：详情 -->

        <activity
            android:name=".view.activity.photoshow.ActivityLogin"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：登陆 -->

        <activity
            android:name=".view.activity.photoshow.ActivityBind"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.photoshow.ActivityUserLogin"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.photoshow.ActivityRegister"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：注册 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoRegisterQuestion"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：填写密码问题 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoPasswordManager"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：管理密码 -->
        <activity
            android:name=".view.activity.user.ActivityUserInformation"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 个人中心：个人信息 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoShow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：展示 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoSubmit"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：提交 -->
        <activity
            android:name=".view.activity.photoshow.ActivityUserCenter"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 实景开拍：用户中心 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoFullSubmit"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" /> <!-- 实景开拍：展示完整照片 -->
        <activity
            android:name=".view.activity.photoshow.ActivityPhotoFullDetail"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" /> <!-- 实景开拍：展示完整照片 -->
        <!-- 预警详情 -->
        <activity
            android:name=".view.activity.warn.ActivityWarnDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 推送消息弹窗：预警信息 -->
        <activity
            android:name=".view.activity.push.ActivityPushDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 推送消息弹窗：天气预警 -->
        <activity
            android:name=".view.activity.push.ActivityPushWeatherDialog"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 推送消息弹窗：突发公共 -->
        <activity
            android:name=".view.activity.push.ActivityPushEmergencyDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 预警中心 -->
        <!-- 预警中心 非福建省城市 -->
        <activity
            android:name=".view.activity.warn.ActivityWarningCenterNotFjCity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 预警中心 -->
        <!-- 推送 设置预警类型 -->
        <activity
            android:name=".view.activity.push.ActivityWarningTypeDialog"
            android:exported="false"
            android:theme="@style/MyDialog" />
        <!-- 推送消息弹窗：气象服务推送 -->
        <activity
            android:name=".view.activity.push.ActivityPushServiceDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 推送消息弹窗：气象服务推送详情 -->
        <activity
            android:name=".view.activity.push.ActivityPushServiceDetails"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- 推送消息弹窗：定点服务 -->
        <activity
            android:name=".view.activity.push.ActivityPushLocationDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 青运气象 -->
        <activity
            android:name=".view.activity.ActivityBanner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 推送消息弹窗:节气、节日 -->
        <activity
            android:name=".view.activity.push.ActivityHolidayDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 推送默认消息弹窗:公告 -->
        <activity
            android:name=".view.activity.push.ActivityDefaultDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 弹窗:防御指南 -->
        <activity
            android:name=".view.activity.push.ActivityWarnMsgDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 弹窗:seekbar 实况数值 -->
        <activity
            android:name=".view.activity.set.ActivitySeekBarDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pcs.ztqtj.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 生活指数详情 -->
        <activity
            android:name=".view.activity.lifenumber.ActivityLifeNumberDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 生活指数编辑 -->
        <activity
            android:name=".view.activity.lifenumber.ActivityLifeNumberEdit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 主播比赛报名 -->
        <activity
            android:name=".view.activity.ActivityCompetitionEntry"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 指点天气 -->
        <activity
            android:name=".view.activity.product.ActivityMapForecast"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaTheme" />
        <!-- 空气质量列表 -->
        <activity
            android:name=".view.activity.air_quality.ActivityAirQuality"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <!-- 空气质量列表 -->
        <activity
            android:name=".view.activity.air_quality.AcitvityAirWhatAQI"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 空气质量详情 -->
        <activity
            android:name=".view.activity.air_quality.ActivityAirQualityDetail"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.newairquality.ActivityAir"
            android:screenOrientation="portrait" />
        <!-- 推送预警详情详情 -->
        <activity
            android:name=".view.activity.push.ActivityPushWarnDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 推送公共预警详情 -->
        <activity
            android:name=".view.activity.push.ActivityPushEmergencyDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 水利汛情产品 -->
        <!-- 水利汛情主Activity -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityWaterFlood"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 天津水利汛情主Activity -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityWaterFloodTJ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 汛情摘要 -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityFloodSummary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 雨量信息 -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityRainInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 水位信息 -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityWaterLevelInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 风情信息 -->
        <activity
            android:name=".view.activity.product.waterflood.ActivityWindInfo"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 世界气象日活动界面 -->
        <activity
            android:name=".view.activity.web.ActivityWeatherDay"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 影视吐槽 -->
        <activity
            android:name=".view.activity.product.media.ActivityMediaTaunted"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 本時次雨量查詢activity -->
        <activity
            android:name=".view.activity.livequery.ActivityTimeSearch"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 专家解读详情 -->
        <activity
            android:name=".view.activity.life.expert_interpretation.ActivityExpertDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 专家解读列表 -->
        <activity
            android:name=".view.activity.life.expert_interpretation.ActivityExpertList"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 农业气象 -->
        <activity
            android:name=".view.activity.product.agriculture.ActivityAgricultureWeather"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 农业气象栏目 -->

        <!-- 农灾情直报栏目 -->
        <activity
            android:name=".view.activity.product.agriculture.ActivityAgricultureZQZB"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 农业气象详情页 -->
        <activity
            android:name=".view.activity.product.agriculture.ActivityAgricultureWeatherDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 本地视频列表 -->
        <activity
            android:name=".view.fragment.warning.video.VideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 图片显示界面 -->
        <activity
            android:name=".view.fragment.warning.picture.ActivityPhotoFull"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 视频播放界面 -->
        <activity
            android:name=".view.fragment.warning.video.ActivityVideoPlay"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 应急责任人界面 -->
        <activity
            android:name=".view.fragment.warning.emergency_responsibility.Activity_respon"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 空气质量 -->
        <activity
            android:name=".view.activity.newairquality.ActivityAirQualityQuery"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 空气质量排行版 -->
        <activity
            android:name=".view.activity.newairquality.ActivityAirQualityRandking"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 省会质量排行版 -->
        <activity
            android:name=".view.activity.newairquality.ActivityAirQualityProvinceRranking"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 重要天气 -->
        <activity
            android:name=".view.activity.product.importantweather.ActivityImWeather"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 重要天气子集页面 -->
        <activity
            android:name=".view.activity.product.importantweather.ActivityImWeatherDown"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 重要责任人页面 -->
        <activity
            android:name=".view.fragment.warning.emergency_responsibility.ActivityOtherself"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 重要责任人详情页面 -->
        <activity
            android:name=".view.fragment.warning.emergency_responsibility.ActivityOtherDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 台风路径 -->
        <activity
            android:name=".view.activity.product.typhoon.ActivityTyphoonRoad"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 天气形势 -->
        <activity
            android:name=".view.activity.product.situation.ActivitySituation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 空气质量预报 -->
        <activity
            android:name=".view.fragment.airquality.ActivityAirQualitySH"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--健康气象-->
        <activity
            android:name=".view.activity.life.health.ActivityHealthWeather"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--我的服务模块展示-->

        <activity
            android:name=".view.activity.ActivitySubscriptionAccount"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--积水监测-->
        <activity
            android:name=".view.activity.product.waterflood.ActivityWaterMonitor"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--气象生活下级界面-->
        <activity
            android:name=".view.activity.life.health.ActivityHealthDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--临近报告-->
        <activity
            android:name=".view.activity.service.ActivityNearReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--天津天气-->
        <activity
            android:name=".view.activity.ActivityShWeather"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--决策报告消息栏-->
        <activity
            android:name=".view.activity.push.ActivityPushServiceNotificationDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--英文广告位网页-->
        <activity
            android:name=".view.activity.product.ActivityOceanMap"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--英文广告位网页-->
        <activity
            android:name=".view.activity.service.ActivityServerHyqx"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.agricuture.ActivityAgricutureFact"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.agricuture.ActivityAgricutureView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 桌面小部件 -->
        <receiver
            android:name=".view.appwidget.WeatherWidget_5x2"
            android:label="(5*2)天津气象">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_5x2" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".view.appwidget.WeatherWidget_4x2"
            android:label="(4*2)天津气象">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_4x2" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".view.appwidget.WeatherWidget_5x1"
            android:exported="false"
            android:label="(5*1)天津气象">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_5x1" />
        </receiver>
        <receiver
            android:name=".view.appwidget.WeatherWidget_5x3"
            android:exported="false"
            android:label="(5*3)天津气象">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_5x3" />
        </receiver>
        <!-- 小部件预警列表adapter -->
        <service
            android:name=".view.appwidget.WarnGridService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- ################################################################################################################################## -->

        <activity
            android:name=".view.activity.newairquality.ActivityAirRankLevel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.product.dataquery.ActivityDataQuery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.product.dataquery.ActivityDataQueryService"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.activity.citylist.ActivityCityList"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.citylist.ActivityCityListCountry"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pcs.ztqtj.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!--umeng-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1111680665" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.pcs.ztqtj.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--umeng-->

        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name=".MeizuPushReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--umeng-->

    </application>

</manifest>